@charset "UTF-8";
/* CSS Document */


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
  margin:0;
  padding:0;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

a:hover,
a:active {
  color:#F39 !important;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

body {
  background-image: url(images/htmlgif);
  background-color: #E4E2E3;
  padding-top: 25px;
  color: #333;
}
#header {
  background-image: url(images/header.png);
  height: 207px;
}
.wide {
  width:902px;
  margin-right: auto;
  margin-left: auto;
    }
#header .main {
  display: block;
  float: right;
  height: 136px;
  width: 527px;
  padding-right: 15px;
  padding-top: 30px;
}
#header .sub {
  float: left;
  width: 300px;
}
#header .sub .global {
  clear: both;
}
#header .sub .global {
  margin-top: 133px;
  float: left;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
#header .sub .global li {
  display:inline;
}
#header a {
  text-decoration: none;
}
#header .sub .global li a {
  display:block;
  float:left;
  background-color: #555;
  box-shadow:inset #333 1px 1px 1px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 6px;
  line-height: 30px;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#header .sub .global li a:link,
#header .sub .global li a:visited {
  background-color: #555;
  font-family: 'Copse', serif;
  color: #FFF;
}
#header .sub .global li a:hover,
#header .sub .global li a:active {
  background-color: #666;
  font-family: 'Copse', serif;
}
#main article header .date {
  background-color: #F39;
  height: 62px;
  width: 70px;
  float: left;
  box-shadow:inset #333 0px 1px 2px;
  border-radius: 6px;
  padding-top: 8px;
}
#main article header .date span {
  display: block;
  text-align: center;
}
#main article header h1 {
  font-size: 28px;
  float: left;
  display: block;
  width: 440px;
  line-height: 1.4;
  margin-left: 15px;
  font-family: 'Copse', serif;
  margin-top: -3px;
  text-shadow:#CCC 0px 1px 1px;
 }
.page header h1 {
  font-size: 28px;
  display: block;
  line-height: 1.4;
  font-family: 'Copse', serif;
  text-shadow:#eee 0px -1px 0px;
  margin-bottom: 20px;
  width: 450px;
 }
#body #main {
  float: left;
  width: 550px;
}
#body #sub {
  float: right;
  width: 320px;
}
#body {
  padding-top: 15px;
  padding-bottom: 35px;
}
.index #body {
  padding-top: 25px;
  padding-bottom: 25px;
}
#body section p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom:1.6em;
}
#body section h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #CE067D;
  font-family: 'Copse', serif;
}
#body section h3 {
  font-size: 20px;
  margin-bottom: 18px;
  color: #CE067D;
  font-family: 'Copse', serif;
}
#body section h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #CE067D;
  font-family: 'Copse', serif;
}
#body section hr {
  background-image: url(images/dot_line.gif);
  display: block;
  height: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
#main article header {
  background-color: #b6b6b6;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
  box-shadow:inset #666 0px 1px 3px;
  background-image: url(images/article_h1.gif);
}
#main article .date .day {
  font-size: 26px;
  font-family: 'Aclonica', serif;
  line-height: 26px;
  vertical-align: middle;
}
#main article .date .mounth {
  font-size: 16px;
  font-family: 'Aclonica', serif;
  line-height: 16px;
  padding-bottom: 4px;
  margin-top: -2px;
}
#main article .date .year {
  font-size: 11px;
  font-family: 'Copse', serif;
  line-height: 11px;
}
#main article {
  clear: both;
  margin-bottom: 35px;
}
#sub nav ul li {
  display: block;
  margin-bottom: 15px;
}
#sub nav ul li .title {
  background-color: #484848;
  display: block;
  line-height: 1.4;
  padding: 8px;
  font-size: 13px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333;
}
#sub nav ul li .date {
  background-color: #BCBABC;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ccc;
}
#footer {
  clear: both;
  background-image: url(images/line.gif);
  background-repeat: repeat-x;
  background-position: left top;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #777;
}
#body .bread_crumbs ul {
  list-style-type: none;
}
#body .bread_crumbs li {
  list-style-type: none;
  display:inline;
}
#body .bread_crumbs {
  line-height: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}
#body .bread_crumbs a {
  font-size: 13px;
}
#body .bread_crumbs li a:after {
	content:"\00bb";
	margin-right: 1.2em;
	margin-left: 1.2em;
}
#body .bread_crumbs li a:link,
#body .bread_crumbs li a:visited {
	text-decoration: none;
}
#body .bread_crumbs li a:hover,
#body .bread_crumbs li a:active {
	text-decoration: none;
	color: #C39;
}
#footer .logo {
  text-align: center;
}
#footer .copy {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  display: block;
  padding-top: 5px;
}
#footer .poweredby {
  float: right;
  background-color: #CCC;
  display: block;
  box-shadow:inset #999 0px 1px 2px;
  padding-top: 6px;
  padding-right: 18px;
  padding-bottom: 6px;
  padding-left: 18px;
  font-size: 11px;
  border-radius: 10px;
  color: #555;
  font-weight: bold;
  text-shadow:#ddd 0px 1px 0px;
}
#footer .poweredby a {
  color: #555;
}
#footer a {
  text-decoration:none;
  color:#777;
}
h1 a {
  color: #333;
  text-decoration: none;
}
#sub nav ul li .title a {
  color: #E4E2E3;
}
#sub nav ul li .date {
  font-size: 12px;
  padding: 8px;
}
#page article section .en {
  float: left;
  width: 420px;
  padding-right: 30px;
}
#page article section .ja {
  float: left;
  width: 420px;
  padding-left: 30px;
  background-image: url(images/dot_line.gif);
  background-repeat: repeat-y;
  background-position: left top;
}
#body section .image img {
  max-width:550px;
  display:block;
  margin:auto 1.7em;
}
#body section ul {
  list-style-type: disc;
  margin-left: 2em;
  list-style-position: outside;
}
#body section ol {
  list-style-type: decimal;
  margin-left: 2em;
  list-style-position: outside;
}
#body section li {
  list-style-position: outside;
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 14px;
}
#body section blockquote {
  background-color: #CCC;
  margin-left: 25px;
  display: block;
  margin-right: 25px;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  margin-bottom: 1.7em;
  border-radius: 6px;
}
#body section blockquote:before {
    content:"\0022";
    font-size: 96px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: right;
    font-family:"Times New Roman";
    font-style:italic;
    padding-right: 10px;
    padding-left: 10px;
    color: #ddd;
    margin-bottom: -30px;
    }
#body section pre code {
  color: #0C0;
  background-color: #000;
  display: block;
  padding: 12px;
  margin-bottom: 1.7em;
  font-size: 13px;
  line-height: 1.4;
  overflow: auto;
}
